header {
  background: #DFDFDF;
  border: 1px solid #B5B7BA;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px 0px;
  gap: 96px;
}

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

h1 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  gap: 48px;
  flex-wrap: wrap;
}

img {
  width: 500px;
}

p {
  width: 600px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
}

footer {
  background: #404243;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 48px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #C5C5C5;
}
